:root {
  --list-padding-num: 2.5;
  --list-padding: 2.5rem;
  --list-marker-num: 1.5;
  --list-marker: 1.5rem;
}

.cm-hmd-list-indent .cm-tab,
ol,
ul {
  position: relative;
}

ul {
  padding-left: var(--list-padding);
  list-style-position: inside;
  list-style-type: '•' !important;
  box-sizing: border-box;
}

ul,
ol {
  padding-left: var(--list-padding);
}

ol::before {
  position: absolute;
  display: block;
  content: '';
  width: var(--list-padding);
  left: 0;
  height: 100%;
}

ul li,
ol li {
  margin-bottom: 10px;
  position: relative;
}

li::marker {
  color: var(--main-node);
}

ul li::marker {
  font-size: var(--list-marker);
}

.theme-light li::marker {
  color: black;
}
