.cm-hmd-list-indent .cm-tab,
ul ul,
ol ol,
ol ul,
ul ol {
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ul ul::before,
ol ol::before,
ol ul::before,
ul ol::before {
  content: '';
  border-left: 1px solid var(--main-node);
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
}

ul li,
ol li {
  margin-bottom: 10px;
}

ul li::marker {
  color: white;
}

.theme-light ul li::marker {
  color: black;
}
