/*
Credit to github.com/nothingislost for the inspiration of the "subway line list"
*/
.list-subway {
  ul::before {
    display: block;
    content: '';
    position: absolute;
    left: 0rem;
    top: 1rem;
    border-right: 2px solid red;
    height: calc(100% - 2rem - 2px);
    width: calc(
      var(--list-padding) - 1px + ((var(--list-padding-num) * 5.61px) / 2)
    );
  }

  ul ul li::before {
    display: block;
    content: '';
    position: absolute;
    left: calc(((var(--list-padding-num) * 5.61px) / 2) - var(--list-padding));
    top: calc(2px + (var(--list-marker-num) * 19px) / 2);
    border-top: 2px solid red;
    height: calc((var(--list-marker-num) * 19px));
    width: var(--list-padding);
  }

  ul {
    &::before {
      border-color: var(--main-node);
    }
    ul {
      &::before {
        border-color: var(--accent-1);
      }
      li::marker {
        color: var(--accent-1);
      }
      li::before {
        border-color: var(--accent-1);
      }
      ul {
        &::before {
          border-color: var(--accent-2);
        }
        li::marker {
          color: var(--accent-2);
        }

        li::before {
          border-color: var(--accent-2);
        }
        ul {
          &::before {
            border-color: var(--accent-3);
          }
          li::marker {
            color: var(--accent-3);
          }

          li::before {
            border-color: var(--accent-3);
          }
          ul {
            &::before {
              border-color: var(--accent-4);
            }
            li::marker {
              color: var(--accent-4);
            }
            li::before {
              border-color: var(--accent-4);
            }

            ul {
              &::before {
                border-color: var(--accent-5);
              }
              li::marker {
                color: var(--accent-5);
              }
              li::before {
                border-color: var(--accent-5);
              }

              ul {
                &::before {
                  border-color: var(--accent-6);
                }
                li::marker {
                  color: var(--accent-6);
                }
                li::before {
                  border-color: var(--accent-6);
                }
              }
            }
          }
        }
      }
    }
  }
}
