.view-content ul > li.task-list-item.is-checked {
  text-decoration: none;
}

.view-content .task-list-item-checkbox {
  appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  border-radius: var(--size-0-5);
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  outline: none;
  margin-right: var(--size-1);
  margin-bottom: var(--size-0-5);
  cursor: pointer;
  filter: none;
  top: var(--size-1-5);
}

.markdown-source-view.mod-cm6 .task-list-item-checkbox {
  vertical-align: baseline;
}

.view-content .task-list-item-checkbox:checked {
  border: none;
  background-color: var(--main-node);
}

.view-content li,
.view-content .HyperMD-list-line {
  .task-list-item-checkbox:checked::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    line-height: 0;
    font-size: 1.5rem;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M7.74,15.63a1.45,1.45,0,0,1-1.06-.44L2.94,11.46A1.5,1.5,0,0,1,5.06,9.34L7.74,12l7.2-7.2a1.5,1.5,0,1,1,2.12,2.12L8.8,15.19A1.48,1.48,0,0,1,7.74,15.63Z' style='fill:%230c0c0c'/%3E%3C/svg%3E");
  }
}

.markdown-source-view.mod-cm6
  .HyperMD-task-line[data-task]:not([data-task=' ']) {
  text-decoration: none;
  color: inherit;
}

@mixin taskListItemIterator($num) {
  @for $i from 2 through $num {
    li[data-line='#{$i}'],
    .HyperMD-list-line-#{$i} {
      .task-list-item-checkbox:checked {
        background-color: var(--accent-#{$i - 1});
      }
    }
  }
}

@include taskListItemIterator(7);

.view-content li[data-task='!'] .task-list-item-checkbox:checked::before,
.view-content .task-list-item-checkbox[data-task='!']:checked::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10,2.5A1.54,1.54,0,0,0,8.45,4.05v7.49a1.55,1.55,0,1,0,3.1,0V4.05A1.54,1.54,0,0,0,10,2.5Z' style='fill:%230c0c0c'/%3E%3Ccircle cx='10' cy='15.95' r='1.55' style='fill:%230c0c0c'/%3E%3C/svg%3E");
}

.view-content li[data-task='?'] .task-list-item-checkbox:checked::before,
.view-content .task-list-item-checkbox[data-task='?']:checked::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Ccircle cx='8.68' cy='15.95' r='1.55' style='fill:%230c0c0c'/%3E%3Cpath d='M10.41,2.5H7.13a1.55,1.55,0,0,0,0,3.1h3.28a.91.91,0,1,1,0,1.81H8.68A1.56,1.56,0,0,0,7.13,9v2.57a1.56,1.56,0,1,0,3.11,0v-1h.17a4,4,0,0,0,0-8Z' style='fill:%230c0c0c'/%3E%3C/svg%3E");
}

.view-content li[data-task='>'] .task-list-item-checkbox:checked::before,
.view-content .task-list-item-checkbox[data-task='>']:checked::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M14.06,8.94l-6-6A1.5,1.5,0,0,0,5.94,5.06L10.88,10,5.94,14.94a1.49,1.49,0,0,0,0,2.12,1.5,1.5,0,0,0,2.12,0l6-6A1.49,1.49,0,0,0,14.06,8.94Z' style='fill:%230c0c0c'/%3E%3C/svg%3E");
}

.view-content li[data-task='+'] .task-list-item-checkbox:checked::before,
.view-content .task-list-item-checkbox[data-task='+']:checked::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M15.84,8.5H11.5V4.16a1.5,1.5,0,0,0-3,0V8.5H4.16a1.5,1.5,0,0,0,0,3H8.5v4.34a1.5,1.5,0,0,0,3,0V11.5h4.34a1.5,1.5,0,0,0,0-3Z' style='fill:%230c0c0c'/%3E%3C/svg%3E");
}

.view-content li[data-task='-'] .task-list-item-checkbox:checked::before,
.view-content .task-list-item-checkbox[data-task='-']:checked::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M15.84,11.5H4.16a1.5,1.5,0,0,1,0-3H15.84a1.5,1.5,0,0,1,0,3Z' style='fill:%230c0c0c'/%3E%3C/svg%3E");
}

/* Cross item for later
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M12.12,10l3.07-3.07a1.5,1.5,0,0,0-2.12-2.12L10,7.88,6.93,4.81A1.5,1.5,0,1,0,4.81,6.93L7.88,10,4.81,13.07a1.49,1.49,0,0,0,0,2.12,1.45,1.45,0,0,0,1.06.44,1.47,1.47,0,0,0,1.06-.44L10,12.12l3.07,3.07a1.47,1.47,0,0,0,1.06.44,1.45,1.45,0,0,0,1.06-.44,1.49,1.49,0,0,0,0-2.12Z' style='fill:%230c0c0c'/%3E%3C/svg%3E");
*/
