.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width: 100%;

  > div:not(.breadcrumbs-trail-grid) {
    display: flex;
    flex-direction: column;
    align-items: center;

    > *:not(iframe),
    .frontmatter-container {
      max-width: 750px;
      width: 100%;
      min-width: 100%;
    }

    > table,
    > .mermaid,
    > div {
      max-width: fit-content;
      min-width: 750px;
    }
  }
}
