.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    > *:not(iframe) {
      max-width: 750px;
      width: 100%;
    }

    > table,
    > .mermaid {
      max-width: 100%;
    }
  }
}
