.cm-header-1,
h1 {
  color: var(--accent-1);
}

.cm-header-2,
h2 {
  color: var(--accent-2);
}

.cm-header-3,
h3 {
  color: var(--accent-3);
}

.cm-header-4,
h4 {
  color: var(--accent-4);
}

.cm-header-5,
h5 {
  color: var(--accent-5);
}

.cm-header-6,
.markdown-preview-view h6 {
  color: var(--accent-6);
}
