.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight,
.markdown-preview-view mark {
  color: var(--background-primary);
  font-weight: 600;
}

.markdown-preview-view mark {
  padding: 0 0.5rem;
}

mark .cm-s-obsidian .cm-strong,
mark strong {
  color: rgb(61, 7, 49);
  font-weight: 900;
}

mark .cm-em,
mark em {
  color: rgb(138, 19, 112);
}
