.markdown-preview-view blockquote {
  border-color: var(--accent-6);
  border-width: 1px;
  border-radius: 5px;
}

.markdown-source-view.mod-cm6 .cm-blockquote-border {
  --background-modifier-border: var(--main-node);
  border-left-width: var(--size-1);
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  border-color: var(--main-node);
  border-width: 1px;
  border-left-width: var(--size-1);
  border-radius: var(--size-1);
  background-color: var(--background-primary);
  padding: 1em;

  span.cm-quote {
    color: var(--main-text);
  }
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote + .HyperMD-quote {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  margin-top: -3px !important;
  background-color: var(--background-primary);
}
