.markdown-preview-view blockquote {
  border-color: var(--accent-6);
  border-width: 1px;
  border-radius: 5px;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  border-color: var(--main-node);
  border-width: 1px;
  border-left-width: 4px;
  border-radius: 5px;
  padding: 1em;
  max-width: 750px !important;
  background-color: transparent;

  span.cm-quote {
    color: var(--main-text);
  }
}
