:root,
.theme-dark {
  --main-node-rgb: 255, 190, 0;
  --main-node: rgb(var(--main-node-rgb));
  --main-node-hover-rgb: 254, 106, 38;
  --main-node-hover: rgb(var(--main-node-hover-rgb));
  --tags-rgb: 241, 158, 238;
  --tags: rgb(var(--tags-rgb));
  --external-link-rgb: 130, 210, 232;
  --external-link: rgb(var(--external-link-rgb));
  --external-link-hidden-rgb: 131, 197, 235;
  --external-link-hidden: rgba(var(--external-link-hidden-rgb), 0.3);
  --main-background-rgb: 36, 36, 36;
  --main-background: rgb(var(--main-background-rgb));
  --secondary-background-rgb: 27, 27, 27;
  --secondary-background: rgb(var(--secondary-background-rgb));
  --secondary-background-low-opacity: rgba(
    var(--secondary-background-rgb),
    0.329
  );
  --attachments-rgb: 105, 188, 235;
  --attachments: rgb(var(--attachments-rgb));

  --accent-1-rgb: 245, 112, 76;
  --accent-2-rgb: 245, 161, 76;
  --accent-3-rgb: 237, 228, 130;
  --accent-4-rgb: 170, 222, 98;
  --accent-5-rgb: 98, 222, 172;
  --accent-6-rgb: 98, 183, 222;
  --accent-1: rgb(var(--accent-1-rgb));
  --accent-2: rgb(var(--accent-2-rgb));
  --accent-3: rgb(var(--accent-3-rgb));
  --accent-4: rgb(var(--accent-4-rgb));
  --accent-5: rgb(var(--accent-5-rgb));
  --accent-6: rgb(var(--accent-6-rgb));

  /* Overriding Obsidian Variables */
  --default-font: 'JetBrains Mono', monospace;
  --font-monospace: var(--default-font);
  --text-normal: rgb(201, 201, 201);
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);

  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  --text-on-accent: black;

  --background-modifier-error: #cf2d2d;
  --background-modifier-error-hover: #a72020;
  --text-highlight-bg: #e9b35f;
}

:root,
.theme-light {
  --main-background: #f5f5f5;
  --secondary-background: #e2e2e2;
  --secondary-background-low-opacity: #e2e2e254;
  --main-node: #dea500;
  --accent-3: #b7ad3a;
  --accent-4: #8ac536;
  --accent-5: #3cad7f;
  --external-link: #307a8e;
  --external-link-hidden: #307a8e99;

  /* Overriding Obsidian Variables */
  --default-font: 'JetBrains Mono', monospace;
  --font-monospace: var(--default-font);
  // --text-normal: #c9c9c9;
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);

  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  // --text-on-accent: black;

  --background-modifier-error: #cf2d2d;
  --background-modifier-error-hover: #a72020;
  --text-highlight-bg: #e9b35f;
}
