:root {
  /* Sizes */
  --font-size-xs: 0.78em; /* 12px */
  --font-size-sm: 0.875em; /* 14px */
  --font-size-base: 1em; /* 16px */
  --font-size-lg: 1.125em; /* 18px */
  --font-size-xl: 1.25em; /* 20px */
  --font-size-2xl: 1.5em; /* 24px */
  --font-size-3xl: 1.875em; /* 30px */

  --size-0-5: 0.125em; /* 2px */
  --size-1: 0.25em; /* 4px */
  --size-1-5: 0.375em; /* 6px */
  --size-2: 0.5em; /* 8px */
  --size-2-5: 0.625em; /* 10px */
  --size-3: 0.75em; /* 12px */
  --size-3-5: 0.875em; /* 14px */
  --size-4: 1em; /* 16px */
  --size-5: 1.25em; /* 20px */
  --size-6: 1.5em; /* 24px */
  --size-7: 1.75em; /* 28px */
  --size-8: 2em; /* 32px */
  --size-12: 3em; /* 48px */
  --size-16: 4em; /* 64px */
  --size-24: 6em; /* 96px */
  --size-32: 8em; /* 128px */
  --size-48: 12em; /* 192px */
  --size-64: 16em; /* 256px */
  --size-96: 24em; /* 384px */
  --size-128: 32em; /* 512px */

  /* Companion */
  --spectrum-side-docks: 0 0 30px;
  --spectrum-hue: 20;
  --monochrome-color: hsl(var(--spectrum-hue), 100%, 50%);
}

:root,
.theme-dark {
  /* Colors */
  --main-node-rgb: 255, 190, 0;
  --main-node: rgb(var(--main-node-rgb));
  --main-node-hover-rgb: 254, 106, 38;
  --main-node-hover: rgb(var(--main-node-hover-rgb));
  --tags-rgb: 241, 158, 238;
  --tags: rgb(var(--tags-rgb));
  --external-link-rgb: 130, 210, 232;
  --external-link: rgb(var(--external-link-rgb));
  --external-link-hidden-rgb: 131, 197, 235;
  --external-link-hidden: rgba(var(--external-link-hidden-rgb), 0.3);
  --main-background-rgb: 36, 36, 36;
  --main-background: rgb(var(--main-background-rgb));
  --secondary-background-rgb: 27, 27, 27;
  --secondary-background: rgb(var(--secondary-background-rgb));
  --secondary-background-low-opacity: rgba(
    var(--secondary-background-rgb),
    0.329
  );
  --attachments-rgb: 105, 188, 235;
  --attachments: rgb(var(--attachments-rgb));

  --accent-1-rgb: 245, 112, 76;
  --accent-2-rgb: 245, 161, 76;
  --accent-3-rgb: 237, 228, 130;
  --accent-4-rgb: 170, 222, 98;
  --accent-5-rgb: 98, 222, 172;
  --accent-6-rgb: 98, 183, 222;
  --accent-1: rgb(var(--accent-1-rgb));
  --accent-2: rgb(var(--accent-2-rgb));
  --accent-3: rgb(var(--accent-3-rgb));
  --accent-4: rgb(var(--accent-4-rgb));
  --accent-5: rgb(var(--accent-5-rgb));
  --accent-6: rgb(var(--accent-6-rgb));

  /* Overriding Obsidian Variables */
  --default-font: 'JetBrains Mono', monospace;
  --font-monospace: var(--default-font);
  --text-normal: rgb(201, 201, 201);
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);

  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  --text-on-accent: black;

  --background-modifier-error: #cf2d2d;
  --background-modifier-error-hover: #a72020;
  --text-highlight-bg: #e9b35f;
}

:root,
.theme-light {
  /* Colors */
  --main-background: #f5f5f5;
  --secondary-background: #e2e2e2;
  --secondary-background-low-opacity: #e2e2e254;
  --main-node: #dea500;
  --accent-3: #b7ad3a;
  --accent-4: #8ac536;
  --accent-5: #3cad7f;
  --external-link: #307a8e;
  --external-link-hidden: #307a8e99;

  /* Overriding Obsidian Variables */
  --default-font: 'JetBrains Mono', monospace;
  --font-monospace: var(--default-font);
  // --text-normal: #c9c9c9;
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);

  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  // --text-on-accent: black;

  --background-modifier-error: #cf2d2d;
  --background-modifier-error-hover: #a72020;
  --text-highlight-bg: #e9b35f;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-feature-settings: 'liga' on, 'calt' on;
  font-feature-settings: 'liga' on, 'calt' on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'JetBrains Mono';
}
