:root {
  --chart-color-1: var(--accent-1);
  --chart-color-2: var(--accent-2);
  --chart-color-3: var(--accent-3);
  --chart-color-4: var(--accent-4);
  --chart-color-5: var(--accent-5);
  --chart-color-6: var(--accent-6);
}
