/* Dataview */
.dataview {
  &.table-view-table > thead > tr > th {
    font-size: var(--font-size-sm);
    letter-spacing: 0.08em;
    text-indent: 0.5em;
  }

  &.table-view-table > tbody > tr > td {
    max-width: 18em;
    min-width: 8em;
    width: fit-content;
    padding: var(--size-2);
    font-size: var(--font-size-sm);
  }

  .dataview-result-list-root-ul {
    /* Need to use !important because Dataview originally uses !important */
    padding-left: var(--size-6) !important;
  }
}
